In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN Regression Problem statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 4ms/step - loss: 100382.1016 - mae: 100382.1016 - val_loss: 98537.1406 - val_mae: 98537.1406
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99721.7500 - mae: 99721.7500 - val_loss: 97210.2188 - val_mae: 97210.2188
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97418.1328 - mae: 97418.1328 - val_loss: 93821.8672 - val_mae: 93821.8672
Epoch 4/100
250/250 [==============================] - 2s 9ms/step - loss: 92860.7734 - mae: 92860.7734 - val_loss: 88095.5312 - val_mae: 88095.5312
Epoch 5/100
250/250 [==============================] - 2s 8ms/step - loss: 86078.4375 - mae: 86078.4375 - val_loss: 80479.6172 - val_mae: 80479.6172
Epoch 6/100
250/250 [==============================] - 2s 9ms/step - loss: 77815.0625 - mae: 77815.0625 - val_loss: 72105.3203 - val_mae: 72105.3203
Epoch 7/100
250/250 [==============================] - 2s 9ms/step - loss: 69306.7422 - mae: 69306.7422 - val_loss: 64317.6875 - val_mae: 64317.6875
Epoch 8/100
250/250 [==============================] - 2s 8ms/step - loss: 61830.7773 - mae: 61830.7773 - val_loss: 58161.2383 - val_mae: 58161.2383
Epoch 9/100
250/250 [==============================] - 2s 9ms/step - loss: 56397.1836 - mae: 56397.1836 - val_loss: 54140.6484 - val_mae: 54140.6484
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 53090.7891 - mae: 53090.7891 - val_loss: 51996.8555 - val_mae: 51996.8555
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 51448.6016 - mae: 51448.6016 - val_loss: 51206.8633 - val_mae: 51206.8633
Epoch 12/100
250/250 [==============================] - 2s 9ms/step - loss: 50757.4062 - mae: 50757.4062 - val_loss: 50941.0156 - val_mae: 50941.0156
Epoch 13/100
250/250 [==============================] - 2s 9ms/step - loss: 50470.5391 - mae: 50470.5391 - val_loss: 50848.4531 - val_mae: 50848.4531
Epoch 14/100
250/250 [==============================] - 2s 9ms/step - loss: 50341.9492 - mae: 50341.9492 - val_loss: 50795.1406 - val_mae: 50795.1406
Epoch 15/100
250/250 [==============================] - 2s 9ms/step - loss: 50266.9492 - mae: 50266.9492 - val_loss: 50744.5000 - val_mae: 50744.5000
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 50203.3359 - mae: 50203.3359 - val_loss: 50702.8281 - val_mae: 50702.8281
Epoch 17/100
250/250 [==============================] - 2s 9ms/step - loss: 50152.1328 - mae: 50152.1328 - val_loss: 50663.0898 - val_mae: 50663.0898
Epoch 18/100
250/250 [==============================] - 2s 9ms/step - loss: 50103.9023 - mae: 50103.9023 - val_loss: 50618.3047 - val_mae: 50618.3047
Epoch 19/100
250/250 [==============================] - 2s 9ms/step - loss: 50064.9648 - mae: 50064.9648 - val_loss: 50573.7070 - val_mae: 50573.7070
Epoch 20/100
250/250 [==============================] - 2s 8ms/step - loss: 50025.1016 - mae: 50025.1016 - val_loss: 50538.0273 - val_mae: 50538.0273
Epoch 21/100
250/250 [==============================] - 2s 8ms/step - loss: 49991.1445 - mae: 49991.1445 - val_loss: 50506.9961 - val_mae: 50506.9961
Epoch 22/100
250/250 [==============================] - 2s 8ms/step - loss: 49963.0039 - mae: 49963.0039 - val_loss: 50469.3438 - val_mae: 50469.3438
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49934.8008 - mae: 49934.8008 - val_loss: 50451.1523 - val_mae: 50451.1523
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49905.2852 - mae: 49905.2852 - val_loss: 50420.4102 - val_mae: 50420.4102
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49878.3086 - mae: 49878.3086 - val_loss: 50407.0000 - val_mae: 50407.0000
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49855.1602 - mae: 49855.1602 - val_loss: 50386.5156 - val_mae: 50386.5156
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49834.2070 - mae: 49834.2070 - val_loss: 50363.6094 - val_mae: 50363.6094
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49814.6211 - mae: 49814.6211 - val_loss: 50359.4883 - val_mae: 50359.4883
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49798.5781 - mae: 49798.5781 - val_loss: 50338.9258 - val_mae: 50338.9258
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49779.2148 - mae: 49779.2148 - val_loss: 50335.9453 - val_mae: 50335.9453
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49759.6406 - mae: 49759.6406 - val_loss: 50327.5430 - val_mae: 50327.5430
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49742.7969 - mae: 49742.7969 - val_loss: 50315.3906 - val_mae: 50315.3906
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49726.8906 - mae: 49726.8906 - val_loss: 50312.7617 - val_mae: 50312.7617
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49713.4336 - mae: 49713.4336 - val_loss: 50298.7227 - val_mae: 50298.7227
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49697.8516 - mae: 49697.8516 - val_loss: 50299.2812 - val_mae: 50299.2812
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49684.2578 - mae: 49684.2578 - val_loss: 50283.0312 - val_mae: 50283.0312
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49666.8633 - mae: 49666.8633 - val_loss: 50291.3555 - val_mae: 50291.3555
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49653.3125 - mae: 49653.3125 - val_loss: 50286.3047 - val_mae: 50286.3047
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49642.1211 - mae: 49642.1211 - val_loss: 50272.3633 - val_mae: 50272.3633
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49629.7773 - mae: 49629.7773 - val_loss: 50271.3203 - val_mae: 50271.3203
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49621.6094 - mae: 49621.6094 - val_loss: 50279.9297 - val_mae: 50279.9297
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49609.4258 - mae: 49609.4258 - val_loss: 50267.2969 - val_mae: 50267.2969
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49596.4023 - mae: 49596.4023 - val_loss: 50266.9414 - val_mae: 50266.9414
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49585.6172 - mae: 49585.6172 - val_loss: 50258.8633 - val_mae: 50258.8633
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49576.1914 - mae: 49576.1914 - val_loss: 50258.1016 - val_mae: 50258.1016
Epoch 46/100
250/250 [==============================] - 2s 8ms/step - loss: 49568.5703 - mae: 49568.5703 - val_loss: 50250.4023 - val_mae: 50250.4023
Epoch 47/100
250/250 [==============================] - 2s 9ms/step - loss: 49563.1758 - mae: 49563.1758 - val_loss: 50243.3828 - val_mae: 50243.3828
Epoch 48/100
250/250 [==============================] - 2s 9ms/step - loss: 49552.7852 - mae: 49552.7852 - val_loss: 50244.0547 - val_mae: 50244.0547
Epoch 49/100
250/250 [==============================] - 2s 8ms/step - loss: 49544.3555 - mae: 49544.3555 - val_loss: 50247.2344 - val_mae: 50247.2344
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49534.7734 - mae: 49534.7734 - val_loss: 50236.9453 - val_mae: 50236.9453
Epoch 51/100
250/250 [==============================] - 2s 8ms/step - loss: 49525.4922 - mae: 49525.4922 - val_loss: 50245.7383 - val_mae: 50245.7383
Epoch 52/100
250/250 [==============================] - 2s 9ms/step - loss: 49519.7617 - mae: 49519.7617 - val_loss: 50235.2812 - val_mae: 50235.2812
Epoch 53/100
250/250 [==============================] - 2s 9ms/step - loss: 49513.2266 - mae: 49513.2266 - val_loss: 50228.3320 - val_mae: 50228.3320
Epoch 54/100
250/250 [==============================] - 2s 8ms/step - loss: 49507.3906 - mae: 49507.3906 - val_loss: 50245.3438 - val_mae: 50245.3438
Epoch 55/100
250/250 [==============================] - 2s 8ms/step - loss: 49498.6055 - mae: 49498.6055 - val_loss: 50231.4492 - val_mae: 50231.4492
Epoch 56/100
250/250 [==============================] - 2s 9ms/step - loss: 49491.4336 - mae: 49491.4336 - val_loss: 50228.5547 - val_mae: 50228.5547
Epoch 57/100
250/250 [==============================] - 2s 9ms/step - loss: 49487.7578 - mae: 49487.7578 - val_loss: 50224.3086 - val_mae: 50224.3086
Epoch 58/100
250/250 [==============================] - 2s 8ms/step - loss: 49479.3281 - mae: 49479.3281 - val_loss: 50225.3047 - val_mae: 50225.3047
Epoch 59/100
250/250 [==============================] - 2s 8ms/step - loss: 49474.9609 - mae: 49474.9609 - val_loss: 50224.5508 - val_mae: 50224.5508
Epoch 60/100
250/250 [==============================] - 2s 8ms/step - loss: 49468.6133 - mae: 49468.6133 - val_loss: 50233.5703 - val_mae: 50233.5703
Epoch 61/100
250/250 [==============================] - 2s 8ms/step - loss: 49461.8438 - mae: 49461.8438 - val_loss: 50239.3320 - val_mae: 50239.3320
Epoch 62/100
250/250 [==============================] - 2s 8ms/step - loss: 49460.3945 - mae: 49460.3945 - val_loss: 50234.0977 - val_mae: 50234.0977
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49449.2969 - mae: 49449.2969 - val_loss: 50241.4062 - val_mae: 50241.4062
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49445.2266 - mae: 49445.2266 - val_loss: 50253.0547 - val_mae: 50253.0547
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49440.9961 - mae: 49440.9961 - val_loss: 50243.9922 - val_mae: 50243.9922
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 49434.7734 - mae: 49434.7734 - val_loss: 50238.1875 - val_mae: 50238.1875
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49430.7656 - mae: 49430.7656 - val_loss: 50240.6836 - val_mae: 50240.6836

In [16]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 20608), started 0:00:09 ago. (Use '!kill 20608' to kill it.)

In [19]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50224.3086 - mae: 50224.3086
Test MAE : 50224.30859375

In [20]:
model.save('regression_model.h5')

c:\Users\KIIT\Desktop\Deep Learning\ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(